body {
    background-color: #fafafa; 
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #2c3531;
    text-align: center;
    padding: 6rem 1rem;
}

.header-container h1 {
    color: #d1e8e2;
}

.weather-container h2, p {
    color: black;
}

.weather-container {
    background-color: #d9ece7; 
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 2rem;
    box-shadow: 0px 0px 0.6rem rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.result {
    background-color: #e8f3fe;
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 2rem;
    box-shadow: 0px 0px 0.6rem rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.button {
    background-color: #083e3f;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1.25rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.button:hover {
    background-color: #1c898b; 
}

.dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
    background-color: #ffffff;
}

img {
    min-height: 15rem;
}

@media screen and (max-width: 767px) {
    img {
        min-height: 7rem;
    }

    h1 {
        font-size: 2.0rem;
    }

    h2, h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    img {
        min-height: 10rem;
    }
}

